<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ with resources.Get "css/flight-rules.css" | minify }}
    <style media="screen">{{ .Content | safeCSS }}</style>
    {{ end }}
    <link rel="shortcut icon" href="/favicon.png">
  </head>

  <body>

    {{ block "content" . }}{{ end }}

    <footer>
        {{ with .Site.Params.footer }}
        <hr/>
        {{ . | markdownify }}
        {{ end }}
        {{ if .IsPage }}
          {{ with resources.Get "js/center-img.js" | minify }}
          <script>
              {{ .Content | safeJS }}
          </script>
          {{ end }}
        {{ end }}
    </footer>
  </body>
</html>
