<style media="screen">
  {{ partial "css/fonts.css" . | safeCSS }}
  {{ partial "css/main.css" . | safeCSS }}
</style>

{{ if .IsHome }}
<style type="text/css" media="screen">
    {{ partial "css/homepage.css" . | safeCSS }}
</style>
{{ end }}

<style type="text/css" media="screen">
  {{ partial "css/single.css" . | safeCSS }}
</style>

{{ if .IsPage }}
<style type="text/css" media="screen">
    {{ partial "css/highlight.css" . | safeCSS }}
</style>
{{ end }}
<style type="text/css" media="(max-width: 52em)">
  {{ partial "css/max52em.css" . | safeCSS }}
</style>