{{ $main := resources.Get "css/main.css" }}
{{ $max52em := resources.Get "css/max52em.css" }}
{{ $single := resources.Get "css/single.css" }}
{{ $fonts := resources.Get "css/fonts.css" }}

{{ $homepage := resources.Get "css/homepage.css" }}
{{ $highlight := resources.Get "css/highlight.css" }}

{{ $menu := resources.Get "css/menu.css" }}

{{- $style := slice $homepage $main $max52em $single $fonts  $highlight $menu | resources.Concat "/css/style.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <script>
        function toggledisplay(elementID, buttonID)
        {
            (function(style) {
                style.display = style.display === 'none' ? '' : 'none';
            })(document.getElementById(elementID).style);
            var button = document.getElementById(buttonID);
            button.innerHTML = button.innerHTML === "MORE" ? "LESS" : "MORE";
        }
    </script>