{{ with .Site.GoogleAnalytics }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{ end }}

{{- $main := resources.Get "css/main.css" -}}
{{ $max52em := resources.Get "css/max52em.css" }}
{{ $single := resources.Get "css/single.css" }}

{{ $homepage := resources.Get "css/homepage.css" }}
{{ $highlight := resources.Get "css/highlight.css" }}

{{ $menu := resources.Get "css/menu.css" -}}

{{- $style := slice $homepage $main $max52em $single  $highlight $menu | resources.Concat "/css/style.css" | minify | fingerprint -}}
    {{- with $style | minify -}}
    <style media="screen">{{ .Content | safeCSS }}</style>
    {{ end }}