<style type="text/css" media="(max-width: 52em)">
    div.menu-pc {
     display: none 
    }
    div.menu-mobie {
      display: inherit
    }
</style>
  
<style type="text/css" media="(min-width: 52em)">
    div.menu-mobie {
      display: none 
    }
</style>
  
<script>
    function toggledisplay(elementID, buttonID)
    {
        (function(style) {
            style.display = style.display === 'none' ? '' : 'none';
        })(document.getElementById(elementID).style);
        var button = document.getElementById(buttonID);
        button.innerHTML = button.innerHTML === "MORE" ? "LESS" : "MORE";
    }
</script>