/* Homepage Layout */

.homepage h1.site-title {
    text-align: center;
    font-size: 5em;
    color: var(--base0c);
  }
  
  
  .homepage h1.headline {
    font-size: 3em;
    color: var(--base0a);
  }
  
  .homepage .hero-logo img {
    width: 100%;
  }
  
  .homepage section.categories,
  .homepage section.tags {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .homepage .category,
  .homepage .category a,
  .homepage .tag,
  .homepage .tag a,
  .homepage .nav-left,
  .homepage .nav-right {
    color: var(--base0e);
  }
  
  .homepage .tag {
    margin-right: 2em;
  }
  
  .homepage nav {
    text-align: center;
  }
   .homepage .nav-left {
    margin-left: auto;
    margin-right: 1%;
  }
   .homepage .nav-right {
    margin-left: 1%;
    margin-right: auto;
  }
   .homepage .nav-hidden {
    visibility: hidden;
  }