/* Single Post Layout */
article.single .meta {
    font-size: 0.9em;
    text-align: right;
}
  
  article.single .meta .key {
    color: var(--base03);
  }
  
  article.single .meta .val, article.single .meta .val a {
    color: var(--base0e);
  }
  
  
  
  article.single h1.headline {
    margin-top: 0;
    font-size: 3em;
    color: var(--base0a);
  }
  
  
  
  article.single section.body {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  
  
  
  /* Highlight Colors */
  
  article.single section.body h1 { color: var(--base0d); }
  article.single section.body h2 { color: var(--base0b); }
  article.single section.body h3 { color: var(--base09); }
  article.single section.body h4 { color: var(--base08); }
  article.single section.body h5 { color: var(--base02); }
  article.single section.body h6 { color: var(--base03); }
  
  article.single section.body a { color: var(--base0f); }
  
  /* Article Elements */
  
  article.single * {
    max-width: 100%;
  }
  
  article.single pre {
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: 1rem;
    overflow-x: scroll;
    border-radius: 3px;
    padding: 2rem;
  }
  
  article.single p code {
    /* padding: 0.2em 0.5em; */
    border-radius: 4px;
    background: var(--base05);
    color: var(--base02);
  }
  
  article.single figure, article.single div.highlight {
    box-sizing: border-box;
    max-width: 52rem;
    /* width: 52rem; */
    /* margin-left: -8rem; */
    /* margin-right: -8rem; */
    margin-bottom: 1rem;
    /* padding: 1em; */
    background-color: var(--base01);
  }
  
  
  article.single figure img {
    max-width: 100%;
    width: 100%;
    border-radius: 3px;
  }
  
  article.single figure figcaption {
    margin-top: 1rem;
  }
  
  article.single figure figcaption h4 {
    margin-top: 0;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: var(--base07);
  }
  
  article.single table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
  }
  
  article.single th,
  article.single td {
    padding: .25rem 1rem;
    line-height: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--base04);
  }
  
  article.single tr:last-child td {
    border-bottom: 0;
  }
  
  article.single th {
    text-align: left;
    font-weight: bold;
    vertical-align: bottom;
  }
  
  article.single td { vertical-align: top }
  
  article.single blockquote {
    margin-left: 2rem;
    margin-right: 3rem;
    padding-left: 1rem;
    border-left: 5px solid var(--base0c);
  }
  
  article.single hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--base04);
  }
  