
/* Pygments template by Jan T. Sott (https://github.com/idleberg) */

pre { background: var(--base00); color: var(--base07) }

.highlight .hll { background-color: var(--base02) }
.highlight .c { color: var(--base03) } /* Comment */
.highlight .err { color: var(--base08) } /* Error */
.highlight .k { color: var(--base0e) } /* Keyword */
.highlight .l { color: var(--base09) } /* Literal */
.highlight .n { color: var(--base07) } /* Name */
.highlight .o { color: var(--base0c) } /* Operator */
.highlight .p { color: var(--base07) } /* Punctuation */
.highlight .cm { color: var(--base03) } /* Comment.Multiline */
.highlight .cp { color: var(--base03) } /* Comment.Preproc */
.highlight .c1 { color: var(--base03) } /* Comment.Single */
.highlight .cs { color: var(--base03) } /* Comment.Special */
.highlight .gd { color: var(--base08) } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: var(--base07); font-weight: bold } /* Generic.Heading */
.highlight .gi { color: var(--base0b) } /* Generic.Inserted */
.highlight .gp { color: var(--base03); font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--base0c); font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: var(--base0e) } /* Keyword.Constant */
.highlight .kd { color: var(--base0e) } /* Keyword.Declaration */
.highlight .kn { color: var(--base0c) } /* Keyword.Namespace */
.highlight .kp { color: var(--base0e) } /* Keyword.Pseudo */
.highlight .kr { color: var(--base0e) } /* Keyword.Reserved */
.highlight .kt { color: var(--base0a) } /* Keyword.Type */
.highlight .ld { color: var(--base0b) } /* Literal.Date */
.highlight .m { color: var(--base09) } /* Literal.Number */
.highlight .s { color: var(--base0b) } /* Literal.String */
.highlight .na { color: var(--base0d) } /* Name.Attribute */
.highlight .nb { color: var(--base07) } /* Name.Builtin */
.highlight .nc { color: var(--base0a) } /* Name.Class */
.highlight .no { color: var(--base08) } /* Name.Constant */
.highlight .nd { color: var(--base0c) } /* Name.Decorator */
.highlight .ni { color: var(--base07) } /* Name.Entity */
.highlight .ne { color: var(--base08) } /* Name.Exception */
.highlight .nf { color: var(--base0d) } /* Name.Function */
.highlight .nl { color: var(--base07) } /* Name.Label */
.highlight .nn { color: var(--base0a) } /* Name.Namespace */
.highlight .nx { color: var(--base0d) } /* Name.Other */
.highlight .py { color: var(--base07) } /* Name.Property */
.highlight .nt { color: var(--base0c) } /* Name.Tag */
.highlight .nv { color: var(--base08) } /* Name.Variable */
.highlight .ow { color: var(--base0c) } /* Operator.Word */
.highlight .w { color: var(--base07) } /* Text.Whitespace */
.highlight .mf { color: var(--base09) } /* Literal.Number.Float */
.highlight .mh { color: var(--base09) } /* Literal.Number.Hex */
.highlight .mi { color: var(--base09) } /* Literal.Number.Integer */
.highlight .mo { color: var(--base09) } /* Literal.Number.Oct */
.highlight .sb { color: var(--base0b) } /* Literal.String.Backtick */
.highlight .sc { color: var(--base07) } /* Literal.String.Char */
.highlight .sd { color: var(--base03) } /* Literal.String.Doc */
.highlight .s2 { color: var(--base0b) } /* Literal.String.Double */
.highlight .se { color: var(--base09) } /* Literal.String.Escape */
.highlight .sh { color: var(--base0b) } /* Literal.String.Heredoc */
.highlight .si { color: var(--base09) } /* Literal.String.Interpol */
.highlight .sx { color: var(--base0b) } /* Literal.String.Other */
.highlight .sr { color: var(--base0b) } /* Literal.String.Regex */
.highlight .s1 { color: var(--base0b) } /* Literal.String.Single */
.highlight .ss { color: var(--base0b) } /* Literal.String.Symbol */
.highlight .bp { color: var(--base07) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--base08) } /* Name.Variable.Class */
.highlight .vg { color: var(--base08) } /* Name.Variable.Global */
.highlight .vi { color: var(--base08) } /* Name.Variable.Instance */
.highlight .il { color: var(--base09) } /* Literal.Number.Integer.Long */
