@media (max-width: 52em) {
    .container {
        width: 100%;
    }

    article.single>section,
    .article-list article {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    header {
        margin-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    footer {
        margin-top: 0;
        margin-bottom: 0;
    }

    .page-not-found h1 {
        font-size: 3em;
    }

    .page-not-found h2 {
        font-size: 2em;
    }

    .homepage {
        margin-bottom: 2rem;
    }

    .homepage h1.site-title {
        font-size: 3em;
    }

    .homepage h1.headline {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    article.single .meta {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    article.single h1.headline {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    article.single section.body {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    article.single figure, article.single div.highlight {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 3px;
    }
}