{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">L</span><span class="base06">o</span><span class="base07">w</span>
  <span class="base08">E</span><span class="base09">n</span><span class="base0a">t</span><span class="base0b">r</span><span class="base0c">o</span><span class="base0d">p</span><span class="base0e">y</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}" alt="base16-eighties">
</div>

<div style="text-align: center;">
    {{ $.Site.Params.Subtitle }}
</div>
