{{ define "content" -}}
<main role="main" class="article">
    <article class="single" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="headline" itemprop="headline">{{ .Title }}</h1>
        <section class="body" itemprop="articleBody">
            <h2>共{{ len (where .Data.Pages "Section" "blog") }}篇文章</h2>
            {{ range .Data.Pages.GroupByDate "Jan, 2006" "desc"}}
                <h3 class="groupby">{{ .Key }}</h3>
                {{ range sort .Pages "Date" "desc" }}
                <ul>
                    <li class="post-item">
                        <span>{{ .Date.Format "2006-01-02" }}</span>
                        {{ if .Params.draft }}
                        <a href="{{ .RelPermalink }}">Draft::{{ .Title }}</a>
                        {{ else }}
                        <a href="{{ .RelPermalink }}"><span>{{ .Title }}</span></a>
                        {{ end }}
                    </li>
                </ul>
                {{ end }}
            {{ end }}          
        </section>
    </article>
</main>         
{{- end }}           