<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ if eq .URL "/" }}
        <title>{{ .Site.Title }}</title>
        <meta property="og:title" content="{{ .Site.Title }}">
        <meta property="og:type" content="website">
        {{ else }}
        <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>
        <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
        {{ end }}
        <meta name="twitter:card" content="summary">

        {{ with .Description }}
        {{ $.Scratch.Set "summary" (markdownify .) }}
        {{ else }}
        {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated)) }}
        {{ end }}

        {{ if eq .URL "/" }}
        <meta property="description" content="{{ .Site.Params.description }}">
        {{ else }}
        {{ with ($.Scratch.Get "summary") }}
        <meta property="description" content="{{ . }}">
        <meta property="og:description" content="{{ . }}">
        {{ end }}
        {{ end }}

        {{ range (findRE "<img src=\"https?://[^\"]+" .Content 1) }}
        {{ $.Scratch.Set "autoImage" true }}
        <meta name="twitter:image" content="{{ replaceRE "<img src=\"" "" . }}">
        {{ end }}
        {{ with .Site.Params.twitterImage }}
        {{ if not ($.Scratch.Get "autoImage") }}
        <meta name="twitter:image" content="{{ absURL . }}">
        {{ end }}
        {{ end }}

        {{ if .Keywords }}
        <meta property="keywords" content ="{{ delimit .Keywords ", " }}">
        {{ end }}

        <link rel="canonical" href="{{ .Permalink }}">
        <link rel="shortcut icon" href="/favicon.png">

        {{ if .RSSLink }}
        <link href="{{ .RSSLink | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        {{ end }}

        {{- $main := resources.Get "css/main.css" -}}
        {{ $fonts := resources.Get "css/fonts.css" }}
        {{ $highlight := resources.Get "css/highlight.css" }}
        {{ $isso := resources.Get "css/isso.css" -}}
        {{ if .IsPage }}
        {{- $style := slice $main $fonts $highlight $isso | resources.Concat "/css/style.css" | minify | fingerprint -}}
        {{- with $style | minify -}}
        <style media="screen">{{ .Content | safeCSS }}</style>
        {{ end }}
        {{ else }}
        {{- $style := slice $main $fonts | resources.Concat "/css/bare-style.css" | minify | fingerprint -}}
        {{- with $style | minify -}}
        <style media="screen">{{ .Content | safeCSS }}</style>
        {{ end }}
        {{ end }}

        

        {{ partial "head_custom.html" . }}
    </head>

    {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .URL) }}
    <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
        <header class="masthead">
        {{ partial "tagline.html" . }}
        {{ partial "menu.html" . }}
        </header>

        <article class="main">
            <header class="title">
                {{ partial "meta.html" . }}
            </header>
            <div class="container">
                {{ block "content" . }}{{ end }}
            </div>
            <footer>
                <hr>
                {{ partial "foot_custom.html" . }}                
                <div class="copyright"><span class="copyright">&copy; {{ .Site.LastChange.Year }} {{ .Site.Params.AuthorName }} - <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></span></div>
            </footer>
        </article>
    </body>
</html>